
.review-page{
    background-color: rgb(20, 20, 26);
    padding-top:30px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-head{
    color:white;
    text-align: center;
}
.review-top-line{
    height:80px;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border: 2px solid white;
     border-bottom: none;
     width:95%; 
      position: relative;
}
.dots{
    height:20px;
    width:20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.review-dot1{
    bottom:0px;
    left:-10px;
}
.review-dot2{
    right:-10px;
    bottom:0px;
}
.review-bottom-line{
    width:95%;
    display: flex;
}
.review-left{
    border: none;
}
.review-bottom-line-left{
     height:80px;
    width:50%;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:30px;
    border: 2px solid white;
     border-top: none;
    position: relative;
     border-right: none;
}
.review-dot3{
    left:-10px;
}
.review-dot4{
    right:-10px;
}
.review-bottom-lin-right{
     height:80px;
    width:50%;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:50px;
    border: 2px solid white;
     border-top: none;
    position: relative;
     border-left: none;
}
/* /-----revieew center content-------/ */
.review-content{
    display: flex;
    justify-content: space-evenly;
    width:95%;
    flex-wrap: wrap;
}
.loop{
    height:180px;
    width:360px;
}
.bc-rev1{
    background-image:linear-gradient(to right ,rgb(0, 0, 0) 25%,rgb(148, 148, 9) 80%) ;
    padding:4px;
    clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
}
.bc-rev2{
    background-image:linear-gradient(to right ,rgb(0, 0, 0) 25%,rgb(9, 109, 148) 80%) ;
    padding:4px;
    clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
}
.bc-rev3{
    background-image:linear-gradient(to right ,rgb(0, 0, 0) 25%,rgb(148, 30, 9) 80%) ;
    padding:4px;
    clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
}
.review1{
    height:100%;
    width:100%;
    background-color: rgb(20, 20, 26); 
     clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
     padding-left:10px;
     display: flex;
}
.review2{
    height:100%;
    width:100%;
    background-color: rgb(20, 20, 26); 
     clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
     padding-left:10px;
     display: flex;
}
.review3{
    height:100%;
    width:100%;
    background-color: rgb(20, 20, 26); 
     clip-path: polygon(0 0, 100% 0, 100% 60%,80% 100%,0 100%);
     padding-left:10px;
     display: flex;
}
/* /----side yellow line---/ */
.s-line{
     height:95%;
}
.side-black{
    background-color:black ;
    width:4px;
}
.side-yellow{
    background-color:rgb(148, 148, 9);
    width:3px;
}
.side-skyblue{
    background-color:rgb(9, 109, 148);
    width:3px;
}
.side-red{
    background-color:rgb(148, 30, 9);
    width:3px;
}
/* /------review box content-----/ */
.me{
    height:40px;
    width:40px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 3%;
}
.rv-ct{
    width:70%;
    margin-left: 10px;
    margin-top: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.star{
    width:100px;
}
@media only screen and (min-width:700px) and (max-width:1100px) {
    .bc-rev3{
        display:none;
    }
   .loop{
    width:45%;
   }
}
@media only screen and (min-width:300px) and (max-width:700px) {
    .bc-rev3{
        display:none;
    }
    .bc-rev2{
        display:none;
    }
   .loop{
    width:90%;
   }
}